<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084849198144-2n5i1vd78h3deiasjqe7jf8p0sin7v70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084849198144-2n5i1vd78h3deiasjqe7jf8p0sin7v70</string>
	<key>API_KEY</key>
	<string>AIzaSyBWUkJ4GyRQEMUQ0uMxR5iGQYv46BG_bzo</string>
	<key>GCM_SENDER_ID</key>
	<string>1084849198144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cordova.hellocordova</string>
	<key>PROJECT_ID</key>
	<string>blogkleenomicsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>blogkleenomicsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084849198144:ios:d2efe491c6a4b2783a3ba5</string>
</dict>
</plist>